@import '../../assets/styles/variables';

.dropDownNav {
    .dropDownButton {
        background-color: $white;
        border-radius: 8px;
        padding: 20px 23px;
        filter: none;
        box-shadow: 0px 1px 42px rgba(52, 93, 200, 0.06),
            0px 1px 3px rgba(87, 119, 168, 0.1);
        &:hover {
            box-shadow: none;
        }
        &:focus {
            box-shadow: none;
        }
        &:active {
            box-shadow: none;
        }
        p {
            color: $body;
            font-size: 16px;
            line-height: 24px;
            font-family: $--worksans-semibold;
        }
    }

    p {
        color: $body;
        font-size: 16px;
        line-height: 24px;
        font-family: $--worksans-semibold;
        font-weight: 600;
    }

    .dropdown-toggle {
        color: $feint;
    }
    .btn-primary {
        border: none;
    }
    .btn-primary:hover {
        background-color: $white !important;
    }

    .dropdown-menu {
        margin-top: 20px;
        box-shadow: 0px 1px 42px rgba(52, 93, 200, 0.06),
            0px 1px 3px rgba(87, 119, 168, 0.1) !important;

        a.dropdown-item:first-of-type:hover {
            color: $body;
            background-color: $background;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        a.dropdown-item:last-of-type:hover {
            color: $body;
            background-color: $background;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }

    .dropdown-item {
        padding: 20px 23px;
        &:active {
            background-color: transparent;
        }

        &:hover {
            color: $body;
            background-color: $background;
        }
    }
}
