@import '../../assets/styles/variables';

$--hover-color: #6272f9;

button.wallet-container.btn.btn-primary {
    font-family: $--worksans-semibold;
    font-size: 18px;
    padding: 17px 37.5px;
    line-height: 24px;
    color: $white;
    background-color: $primary;
    font-weight: 600;
    border: none;
    border-radius: 60px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    @include primary();
    @media only screen and (max-width: $--breakpoints-sm) {
        margin-right: 8px;
    }
    &:hover {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;
        color: $white;
        background-color: $--hover-color;
        @include primary();
    }
    &:focus {
        color: $white;
        background-color: $--hover-color;
        border: none;
        box-shadow: none;
    }
}

.profile-button {
    cursor: pointer;
    width: 100%;
    max-width: 210px;
    box-shadow: 0px 1px 3px rgba(87, 119, 168, 0.1),
        0px 10px 10px -5px rgba(87, 119, 168, 0.04),
        0px 20px 25px -5px rgba(87, 119, 168, 0.1);
    border-radius: 12px;
    padding: 14px;
    display: flex;
    align-items: center;
    grid-gap: 12px;

    .balance-wrapper {
        border-right: 1px solid #e9edf9;
        padding-right: 24px;

        .balance {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #0d112f;
        }

        .address {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #576788;
        }
    }
}
