@import '../../assets/styles/variables';

.main-card-item {
    border-radius: 8px;
    box-shadow: 0px 1px 42px rgba(52, 93, 200, 0.06),
        0px 1px 3px rgba(87, 119, 168, 0.1);

    .card-item-content {
        padding-left: 96px;
        padding-bottom: 138px;
        margin: 0;
        p {
            color: $body;
            font-family: 'Work Sans Regular';
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;

            @media only screen and (max-width: $--breakpoints-lg) {
                font-size: 16px;
                line-height: 28px;
            }
        }

        @media only screen and (max-width: $--breakpoints-lg) {
            padding: 32px;
        }

        .card-title {
            color: $headings;
            font-family: $--poppins-bold;
            font-weight: 700;
            font-size: 53px;
            line-height: 60px;
            padding-top: 83px;
            margin-bottom: 24px;

            @media only screen and (max-width: $--breakpoints-md) {
                font-size: 30px;
                padding-top: 57px;
            }
        }
    }
}
