@import '../../assets/styles/variables';

.divider {
    border-top: 1px solid $ghost;
}

.footer-text {
    font-size: 16px;
    line-height: 24px;
    font-family: $--worksans-medium;
    color: $body;
    font-weight: 500;
}
